:root {
    --red: #E02929;
    --orange: #D46600;
    --yellow: #F8B200;
    --light-yellow: #E2C27D;
    --green: #57941A;
    --baby-blue: #51B4D3;
    --sky-blue: #3978B1;
    --pink: #FA9494;
    --gold: #8B5F00;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    background-color: var(--light-yellow);
}

.toggle-display {
    display: none;
}

.landing-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start-window, #select-mode {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4rem;
}

#start-window div, #select-mode div {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

#start {
    flex: 1;
}

#select-mode button {
    width: 290px;
}

header {
    background-color: var(--orange);
    display: flex;
    padding: 0.5rem 1rem;
}

#logo {
    flex: 1;
}

#header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#header-buttons button {
    width: 100px;
}

.info {
    position: absolute;
    width: 3rem;
    right: 2rem;
    bottom: 2rem;
}

.box {
    border: 0.5rem solid var(--black);
    border-radius: 1rem;
    padding: 2.5rem;
}

.box-orange {
    background-color: var(--orange);
    box-shadow: -1rem 1rem var(--gold);
}

.box-blue {
    background-color: var(--sky-blue);
}

button {
    border-style: solid;
    border-color: var(--black);
    border-radius: 1.2rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: -0.4rem 0.4rem var(--yellow);
}

.btn-lg {
    border-width: 0.5rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
}

.btn-sm {
    border-width: 0.25rem;
    padding: 0.5rem 1rem;
}

.btn-red {
    background-color: var(--red);
}

.btn-bby-blue {
    background-color: var(--baby-blue);
}

.btn-pink {
    background-color: var(--pink);
}

.btn-info {
    fill: var(--yellow);
    filter: drop-shadow(-0.25rem 0.25rem rgb(57 120 177 / 100%));
}

.btn-x {
    width: 2rem;
}

a {
    text-decoration: none;
    color: var(--yellow);
}

.p-game {
    font-size: 1.5rem;
}

.p-med {
    font-weight: 500;
    line-height: 1.5rem;
}

p {
    margin: 0;
}

h3 {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);;
}

.modal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#modal-info-content {
    padding: 1rem;
    width: 22rem;
}

#modal-info-content .exit {
    text-align: right;
}

#modal-info-content .bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1.75rem;
}

#modal-info-content h3, #modal-info-content .modal-center {
    text-align: center;
}

#modal-info-content ul {
    font-weight: 500;
    line-height: 1.5rem;
}

#modal-info-content p {
    text-align: justify;
}

.github-icon {
    filter: drop-shadow(-0.25rem 0.25rem rgb(0 0 0 / 1));
    width: 3rem;
    margin-bottom: 0.5rem;   
}